/* h1 {
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Qwitcher Grypen', cursive; */
}

h2 {
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Qwitcher Grypen', cursive; */
}

body {
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Qwitcher Grypen', cursive; */
} */

